body {
    background-color: black;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

img {
    max-width: 100%; /* Asegúrate de que las imágenes no excedan su contenedor */
    height: auto; /* Mantén la relación de aspecto de las imágenes */
    display: block; /* Asegúrate de que las imágenes se muestren como bloques */
    margin-bottom: 20px; /* Agregar espacio entre las imágenes */
}